* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body {
  background-color: rgb(246, 247, 251);
}

#app-container {
  max-width: 800px;
  height: auto;
  background-color: white;
  padding: 20px;
  margin: 20px auto;
}

.info-box {
  width: 50px;
  height: 60px;
  background-color: rgb(248, 249, 251);
  border-radius: 5px;
  border: 2px solid rgb(232, 236, 239);
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  flex: 1;
  margin-left: 20px;
  margin-right: 20pxs;
}

#info-panel {
  display: flex;
  justify-content: space-around;
  gap: 50px;
}

.info-value {
  font-size: 20px;
  color: rgb(46, 62, 78);
}
.info-label {
  font-size: 15px;

  color: rgb(122, 129, 134);
}
