* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body {
  background-color: rgb(246, 247, 251);
}

#app-container {
  max-width: 800px;
  height: auto;
  background-color: white;
  padding: 20px;
  margin: 20px auto;
}

.info-box {
  width: 50px;
  height: 60px;
  background-color: rgb(248, 249, 251);
  border-radius: 5px;
  border: 2px solid rgb(232, 236, 239);
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  flex: 1;
  margin-left: 20px;
  margin-right: 20pxs;
}

#info-panel {
  display: flex;
  justify-content: space-around;
  gap: 50px;
}

.info-value {
  font-size: 20px;
  color: rgb(46, 62, 78);
}
.info-label {
  font-size: 15px;

  color: rgb(122, 129, 134);
}

#seesaw-plank {
  width: 400px;
  height: 20px;
  background-color: rgb(93, 78, 57);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#seesaw-container {
  margin-top: 20px;
  height: 450px;
  border: 2px rgb(227, 232, 236);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(236, 240, 241);
}

#seesaw-hitzone {
  width: 400px;
  height: 100%;
  position: relative;
}

#seesaw-ground {
  width: 100%;
  height: 30px;
  position: absolute;
  background-color: rgb(149, 165, 165);
  bottom: 0%;
}
